doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title=title || 'TopLN.ru | Test task'

  body
    noscript: h1: center For the operation of the site requires JavaScript

    #root

    if script
      script(type="text/javascript" lang="javascript" src=script)
